APP_NAME=Find-Job
APP_DESCRIPTION=API
IP=localhost
PORT=4000
PREFIX_PATH=/api/v1/

MYSQL_HOST=127.0.0.1
MYSQL_PORT=9907
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=inventory_v2

REDIS_CACHE_HOST=localhost
REDIS_CACHE_PORT=6379
REDIS_CACHE_AUTH=
REDIS_CACHE_DB=4

JWT_SECRET=
JWT_ALGORITHM=HS512
JWT_TTL=31536000
JWT_SECRET_REFRESH=
JWT_ALGORITHM_REFRESH=256